<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar *ngIf = "categoryImage"> 
         <img [src] = "categoryImage"> 
      </div>
      <select (change)="firstDropDownChanged(category)">
        <option>{{category}}</option>
        <option *ngFor="let cat of categories">{{cat.name}}</option>
      </select>
      <mat-card-subtitle>classification result</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        {{classifyService.doc}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="saveToFirebase()">Save</button>
    </mat-card-actions>
  </mat-card>
