<mat-card>
    <h1>Login</h1>
     <form #loginForm="ngForm" (ngSubmit)="onSubmitLogin()">
       <div class="example-container">
         <mat-form-field>
             <input 
                 matInput placeholder="email"
                 [(ngModel)] = "email"
                 name = "email">
         </mat-form-field> 
         <mat-form-field>
                 <input 
                     matInput placeholder="strong password"
                     [(ngModel)] = "password"
                     name = "password">
         </mat-form-field>                   
         <div >
             <button mat-raised-button color="primary" 
                     [disabled]="!loginForm.form.valid">
                      Login
             </button>
         </div>
      </div>
     </form>
     </mat-card>
 

