<p *ngIf="!($articals | async)">loading articals...</p>
<mat-accordion>
    <mat-expansion-panel *ngFor = "let artical of $articals | async">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{artical.artical}}
        </mat-panel-title>
      </mat-expansion-panel-header> 
      type of classification: {{artical.classification}}   
    </mat-expansion-panel>
  </mat-accordion>